Host *
    AddKeysToAgent      yes
    IdentitiesOnly      yes
    ServerAliveInterval 60
    ServerAliveCountMax 3
{{- if eq .chezmoi.os "darwin" }}
    UseKeychain         yes
{{- end }}

Host github.com
    HostName    github.com
    User        git

{{ if eq .chezmoi.os "darwin" -}}
Include ~/.orbstack/ssh/config
{{ end -}}
Include ~/.ssh/config.d/*
